﻿@model Forum.Models.Topic

@{
    ViewBag.Title = "Create";
}
<div class="col-xs-12 col-sm-6 col-sm-push-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nazwa" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Stwórz temat" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Topics", new { CategoryId = @ViewBag.CategoryId })" class="btn btn-default">Anuluj</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
