﻿@model Forum.Models.Topic

@{
    ViewBag.Title = "Delete";
}

<div class="col-xs-12 col-sm-6 col-sm-push-3">
    @using (Html.BeginForm())
    {
        <div class="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Czy na pewno chcesz usunąć element</label> "@Html.DisplayFor(model => model.Name)" <strong>?</strong>
            </div>
            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-danger" />
                <a href="@Url.Action("Index", "Topics", new { CategoryId = @ViewBag.CategoryId })" class="btn btn-default">Anuluj</a>
            </div>
        </div>
    }
</div>