﻿@model Forum.Models.Category

@{
    ViewBag.Title = "Create";
}

<div class="col-xs-12 col-sm-6 col-sm-push-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nazwa" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @placeholder = "Komentarz" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Categories")" class="btn btn-default">Na główną</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
