﻿@model IEnumerable<Forum.Models.Category>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-9">
                    <a href="@Url.Action("Index", "Topics", new { CategoryId = item.Id })" class="btn btn-link">
                        <div class="lead">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 pull-right">
                    @if (Request.IsAuthenticated && this.User.Identity.Name == "Admin")
                    {
                        <a href="@Url.Action("Delete", "Categories", new {id = item.Id})" class="btn btn-link pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="@Url.Action("Edit", "Categories", new {id = item.Id})" class="btn btn-link pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="panel-body">
            <small>
                @Html.DisplayFor(modelItem => item.Comment)
            </small>
        </div>
    </div>
}
@if (Request.IsAuthenticated && this.User.Identity.Name == "Admin")
{
    <div class="col-xs-12">
        @Html.ActionLink("Stwórz forum", "Create")
    </div>
}